{% extends "base.html" %}
{% block body %}
<body>
    <form action="{{url_for('contact')}}" method="post">
        

        <label for="name"> Name:</label>
        <input name="name" type="text" placeholder="John Doe">
        <br>
        <label for="email">Email :</label>
        <input name="email" type="text" >
        <br>
        <textarea name="post" id="" placeholder="Write here"></textarea>
        <button>Submitt</button>

        <hr>

        <H2>Rules:</H2>
        <hr>
        - No bad texts 
        <div></div>
        - Help others if needed 
        <div></div>
        - Have fun

    </form>

         {% endblock %}